@charset "utf-8";

.gnav-menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
}